daemonize
ignore-empty-password
scaling=fill
image=~/.config/wallpapers/swaylock2.jpg
font='Iosevka Nerd Font Mono'

font-size=50
indicator-radius=270
indicator-thickness=75
inside-color=ffffff00
key-hl-color=5e81ac
ring-color=2e3440
line-uses-ring
separator-color=e5e9f022
text-color=d8dee9
text-clear-color=d8dee9
text-caps-lock-color=d8dee9
indicator-idle-visible
