@define-color grey rgba(32, 32, 32, 0.9);
@define-color yellow #00ccff;
@define-color darkgrey rgba(20, 20, 20, 0.8);
@define-color transparent rgba(0, 0, 0, 0);

* {
  border: none;
  /* background-color: rgba(249, 164, 53, 0.6); */
}

window {
  background-color: rgba(216, 222, 233, 0.9);
  font-size: 1.2em;
  /* font: {{ font }}; */
}

#input {
  margin: 0px 0px 0px 0px;
  border-bottom: 3px solid rgb(19, 113, 255);
  border-radius: 0px;
  background-color: rgb(216, 222, 233);
}

#inner-box {
  margin: 0px 0px;
  border-top: 2px solid rgba(0, 0, 0,0);
  color: black;
  background-color: rgba(0, 0, 0,0);
}

expander .entry {
  margin-left: -15px;
}

#img {
  margin-right: 6px;
}

#outer-box {
  margin: 0px;
  border: 0px solid;
  background-color: @transparent;
}

#scroll {
  margin: 0px;
  border: 0px solid;
  background-color: @transparent;
}

#entry{
  padding: 6px 0px 6px 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0px;
}

#entry:selected{
  background-color: rgba(46, 52,64, 0.8);
  color: white;
  outline: 0px;
  border-radius: 0px;
  border-right: 5px solid rgb(19, 113, 255);
}

